body {
  background-color: bisque;
  font-family: math;
}
.mainBanner {
  text-align: center;
}
.mainBanner h3 {
  color: blueviolet;
  margin-top: 3%;
}

.mainTitle {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(backgroundImage.jpeg);
  padding: 15%;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: 400;
  font-style: italic;
  font-size: xxx-large;
  font-family: fantasy;
  color: brown;
  margin: 0;
}
